<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            margin: 0;
            padding: 20px;
        }
        p{
            font-size: large;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>About</h2>
    <p>The social link is the website that provide a free chatting box for users.This chatting page can
handle text message ,images,video files,audio files,etc.This website mainly focused on study
purpose.By using this website users in any where in the world they can communicate easily.This
service is totally online.
This is a website not a application so it dont need any storage spaces.This is only works on
computers or desctops.Now it is not accessible for mobile phones.For using this website user
want to create an account.After creating account a user can open a channel .This channel is work
as a chating space .
Other users in any where of the world can join this channel using channel name and
password.The users can follow this channel for future use.The special feature of this website is
the channel owner can conduct a live exam or test paper on his channel.this feature is helpful for
teachers.
With its user-friendly interface and extensive range of controls a user can easily manage this
website.They can share study materials and other documents.this web site is very secure.This
website is easily handled by anyone who can have basic computer knowledge.</p>
<h2>Contact</h2>
<ul>
    <li>Phone:+999999999</li>
    <li>Telegram:</li>
</ul>
</body>
</html>