@font-face {
    font-family: Myfont;
    src: url(/font/interbureausemibold.ttf);
}
body{
    margin: 0;
    padding:0;
    background-color: rgba(32, 34, 37, 1);
    overflow: hidden;
    display: flex;
    color: white;
}
.controller{
    width: 90px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.controller div{
    width: 60px;
    height: 60px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}
.controller i{
    font-size: 26px;
    color: white;
}
.GoAccounts{
    border-radius: 18px;
    background-color: rgba(255, 0, 0, 1);
}
.GoHome{
    
    border-radius: 50%;
    background-color: rgba(54, 57, 63, 1);
}
.GoReports{
    border-radius: 50%;
    background-color: rgba(54, 57, 63, 1);
}
main{
position: relative;
top: 30px;
left: 5px;
width: 100%;
background-color: brown;
height: 100vh;
display: flex;
justify-content: space-between;
border-top-left-radius: 15px;
}
.leftmain{
    width: 20%;
    height: 100%;
    background-color: rgba(47, 49, 54, 1);
    border-top-left-radius: 15px;
    
}

.topmainImage img{
    /* width: 100%;
    height: 160px;
    background-image: url(/images/PubG-gaming\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    border-top-left-radius: 15px;
}
.feature{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 20px;
}
.collectonicon{
    width: 40px;
    height: 250px;
    display: flex;
    color: #666666;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.selectbutton{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.feature i{
    font-size: 20px;
    cursor: pointer;

}
.feature p{
    /* color: white; */
    margin: 0;
    font-size: 26px;
    font-weight: 700;
    font-family: Myfont;
    letter-spacing: 1px;
    margin-left: 15px;
    cursor: pointer;
}
.rightmain{
    width: 80%;
    height: 100%;
    background-color: rgba(32, 34, 37, 1);
    display: flex;
    flex-direction: column;
}
.ProfileHeader{
    width: 100%;
    height: 80px;
    background-color: rgba(54, 57, 63, 1);
    margin-bottom: 6px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.Seeprofile{
    display: flex;
    margin-right: 20px;
}
.Seeprofile h2{
    font-family: Myfont;
    font-size: 30px;
    margin: 0;
    display:flex ;
    align-items: center;

}
.Seeprofile div{
    margin: 0 10px;
}
.seedp{
    display: flex;
    align-items: center;
}
.seedp img{
    border-radius: 50%;
}
.MainIcons{
   
    display: flex;
    align-items: center;
}
.MainIcons div{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #666666 ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.Mainmessagebody{
    width: 100%;
    height: 100%;
    background-color: rgba(54, 57, 63, 1);
    padding-top: 50px;
    padding-bottom: 100px;
    overflow-x: auto;
}
.messagesetanother{
    width: 100%;
}
.messagesetMe{
    width: 100%;
    display: flex;
    justify-content: end;
}
.messagesetMe .Username p{
    display: flex;
    justify-content: end;
}
.messagegiveposition{
    display: flex;
    margin-top: 20px;
}
.userDB{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userDB img{
    border-radius: 50%;
}
.Username p{
    margin:6px 5px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 111, 7, 1);
}
.Userdata p{
    padding: 0px 6px;
    max-width: 350px;
    font-size: 17px;
    letter-spacing: 0.031em;
}
.Userdata img{
    width: 350px;
    height: 200px;
    padding: 0px 6px;
    border-radius: 20px;
}
.Typing_ArEa{
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    right:0 ;
    width:75%;
    height: 100px;
    bottom:0px;
    margin-bottom: 0px;
}
.Typing_ArEa_main{
      background-color:rgba(65, 68, 75, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height:50px ;
    /* background-color:rgba(82, 119, 190, 1); */
    border: 0;
    border-radius:15px;
    padding-left:15px ;
    
  }
  .Typing_ArEa p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.43);
  }

   /* Reset default textarea styles */
.Typing_ArEa_main textarea {
    border: none;
    outline: none;
    resize: none; /* Prevent resizing */
    font-family: inherit; /* Use the same font as the rest of the page */
    font-size: 18px; /* Set the font size */
    padding: 10px; /* Add padding for spacing */
    width: 400px;
    background-color:transparent; /* Make it stretch to fill the container */
    height: 22px; /* Automatically adjust height based on content */
    color: white;

}

/* Optional: Add focus styles */
/* .Typing_ArEa_main textarea:focus {
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
} */
  .Testareaicons{
    display: flex;
    margin-right: 25px;
  }
  .Typing_ArEa_main label{
    display: flex;
    align-items: center;
    margin-left:20px;
    font-size: 20px;
    cursor: pointer;
  }
    .Typing_ArEa_main button{
      background-color: transparent;
      border: 0;
      font-size: 20px;
      margin-left: 15px;
      color: white;
      cursor: pointer;
    }
    .proFile-MNgP_R_follow button{
        background-color: rgb(0, 206, 252);
        color: white;
        font-size: 16px;
        font-weight: 700;
       padding: 8px 30px;
        margin:10px 2px;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
      }
      .proFile-MNgP_R_follow button:hover{
        border: 1px solid rgb(0, 64, 255);
      }
