.Examearea{
    color: black;
}
.qsdiv{
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.373);
    width: 95%;
    height: 500px;
    margin: 10px;
    padding: 8px;
    /* display: flex; */
  }
  .empty{
    display: none;
  }
  .qsdiv label{
    margin: 10px;
  }
  .marklabel{
    margin: 10px;
   
  }
  .examtext{
   width: 80%;
    padding: 5px;
    text-decoration: solid black;
  }
  .newexam{
    padding: 10px;
    margin: 5px;
  }
  
  .createexam{
   
  display: flex;
  flex-direction: column;
  margin:15px;
    
  }
  .createexam .addinput{
   
    display: flex;
    flex-direction: row;
   
  
  }
  /* .markdiv{
    background-color: azure;
    width: 10%;
  }  */
  .lastlook{
    align-content: end;
  }
  .examsubmit{
    margin: 10px;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    background-color: green;
    
  }
  .examdata{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.373);
    width: 95%;
    border-radius: 10px;
    height: auto;
    margin: 10px;
    padding: 8px;
  }
  .examdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .examdata samp{
    margin: 5px;
    font-size: 14px;
    text-align: end;
  }
  .examdiv span{
    margin: 10px;
    font-size: 17px;
  }