.Peaker_color{
    color: black;
    background-color: white;
    position: fixed;
    height: 250px;
    width: 200px;
    top: 35%;
    left: 50%;
    border: 2px solid black;
    z-index: 10;
  
   
  }
  .Peaker_color header{
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
  }
  .Peaker_color header :first-child{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .Peaker_color header :last-child{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 5px;
    cursor: pointer;
  }
  .Peaker_Div{
    height: 45px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
  }
  .Peaker_Div p{
    font-size: 16px;
  }
  .Peaker_mAin{
    display: flex;
    flex-direction: row;
  }
  .Peaker_mAin input{
    width: 25px;
    border: 0;
    /* border: 1px solid black;  */
  }
  .Peaker_mAin:nth-child(2){
  display: flex;
  align-items: center;
  cursor: pointer;
  }
  .cancel_{
    margin: 0 3px;
    padding-bottom: 3px;
  }
  .Peaker_Buttom{
    display: flex;
    justify-content: end;
  }
  .Peaker_Buttom button{
    border: 0;
    background-color: #38B6FF;
    color: white;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  .collection_picker{
    overflow-y: auto;
    overflow-x: hidden;
    height: 70%;
  }