body{
    background-color: burlywood;
}
.Qs-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.alldata{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   margin-bottom: 25px;
  }
  .examdata{
    font-size: 20px;
  
 background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.373);
    width: 95%;
    border-radius: 10px;
   min-height: 100px;
    margin: 10px;
    padding: 8px;
  }
  .examdata input{
    width: 95%;
    margin: 10px;
    align-items: end;
    padding: 10px;
  }
  .sub{
   display: flex;
 justify-content: center;
 align-items: center;
  }
  button{
    background-color: rgb(16, 182, 16);
    border: 0px;
    border-radius: 10px;
    padding:10px 30px ;
    cursor: pointer;
  }
  