body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right,#380630,#0e0831);
color: aliceblue;
background-repeat: no-repeat;
  }
  header{
    width: 100%;
    height: 30px;
    background-color: rgba(20, 21, 21, 0.229);
    padding: 2px;
    padding-top: 16px;
    padding-left: 20px;
    position: fixed;
    top: 0;
  
  }
  header a{
    text-decoration: none;
    margin-right: 50px;
    font-size: medium;
    color:rgb(244, 243, 245);
    letter-spacing: 1px;
  }
  header .container{
    display: flex;
    justify-content: space-between;
  }
  
  .container2 {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(100, 98, 98, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  .input-group p{
    color: red;
  }
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
  }
  
  button {
    background-color: rgb(0, 128, 255);
    color: #000;
    padding: 10px 15px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 80%;
  }
  .button{
  display: flex;
  justify-content: space-between;
  }
  .button a{
    text-decoration: none;
  }
  @media screen and (max-width: 600px) {
    .container2{
        width: 70%;
    }
  }