body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  width: 100%;
  height: 30px;
  background-color: rgba(20, 21, 21, 0.229);
  padding: 2px;
  padding-top: 16px;
  padding-left: 20px;
  position: fixed;
  top: 0;

}
header a{
  text-decoration: none;
  margin-right: 50px;
  font-size: medium;
  color:rgb(244, 243, 245);
  letter-spacing: 1px;
}
header .container{
  display: flex;
  justify-content: space-between;
}
.main{
  margin-top: 50px;
}