.addvideobutton {
    display: flex;
    justify-content: end;
}
.addvideobutton label{
    border: 0;
    padding: 10px 20px;
    background-color: rgb(7, 221, 7);
    border-radius: 10px;
    color: white;
    margin-right: 20px;
}
.addnewvideofile{
    height: 500px;
    width: 75%;
    position: fixed;
    display: flex;
    justify-content: center;
    color: black;
}
.addnewvideofile form{
    height: 100%;
    width: 70%;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
}
.forthumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}
.forthumbnail label{
    width: 430px;
    height: 245px;
    border: 4px dashed rgba(90, 90, 90, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
}
.forthumbnail label img {
    width: 100%;
    height: 100%;
}
.forthumbnail label i {
    color: rgba(90, 90, 90, 0.35);
    font-size: 200px;
}
.anothervideodetails{
    display: flex;
    flex-direction: column;
    padding: 2px 20px;

}
.anothervideodetails label{
    margin: 8px 0px;
}
.anothervideodetails textarea{
    height: 200px;
    font-size: 16px;
}
.Forvideosubmitbutton{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.Forvideosubmitbutton :first-child{
    background-color: rgb(230, 31, 31);
    border: 0;
    border-radius: 3px;
    margin: 0 10px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}
.Forvideosubmitbutton :last-child{
    background-color: rgb(7, 161, 22);
    border: 0;
    border-radius: 3px;
    margin: 0 10px;
    padding: 10px 20px;
    color: white;
}
@font-face {
    font-family: Myfont;
    src: url(/font/interbureausemibold.ttf);
}
.collectionvideo{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.collectionvideo a{
    color: white;
    text-decoration: none;
}
.eachvideo{
    width: 550px;
    height: 450px;
    background-color: rgba(47, 49, 54, 1);
    margin: 20px;
}
.forthumbnail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 55%;
}
.forthumbnail img{
    width: 100%;
    height: 100%;
}
.forabout{
    width: 100%;
    height: 50%;
}
.forabout h2{
padding: 0 20px;
font-size: 36px;
font-family: Myfont;
}
.forabout p{
    color: rgb(155, 155, 155);
    padding: 0 30px;
}